<!DOCTYPE html>
<html class = "text-center" lang = "en">

<head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Senior Design</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/css/Animated-Type-Heading.css">
    <link rel="stylesheet" href="static/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="static/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="static/assets/css/styles.css">
</head>

<body>
    <section class = "text-center placeholder">
        <h2>Hello, This is the Home Page</h2>
        <div class = "mb-3"><button class = "btn btn-primary d-block w-100" type="button">Log Out</button></div><a class = "logout" href = "http://127.0.0.1:5000/user_registration">Logout</a>
    </section>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/Animated-Type-Heading.js"></script>

</body>
</html>